In [9]:
import sys

input = sys.stdin.readline

N = int(input())


for num in range (1, N+1) :
    check_num = num + sum(map(int, str(num)))

    if check_num == N :
        print(num)
        break
    else:
        print(0)

```
map(int, str(num))
```
위 코드 부분이 숫자 형식의 num을 string으로 변환해서 이를 int로 다시 바뀌면서 n자리 숫자들이 한 자리 숫자로 변환 될 수 있었다.